<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarMarca</servlet-name>
        <servlet-class>servlet.CadastrarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarMarca</servlet-name>
        <servlet-class>servlet.ListarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverMarca</servlet-name>
        <servlet-class>servlet.RemoverMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMarca</servlet-name>
        <servlet-class>servlet.AlterarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProduto</servlet-name>
        <servlet-class>servlet.ListarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTipo</servlet-name>
        <servlet-class>servlet.ListarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarTipo</servlet-name>
        <servlet-class>servlet.CadastrarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarTipo</servlet-name>
        <servlet-class>servlet.AlterarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverTipo</servlet-name>
        <servlet-class>servlet.RemoverTipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarMarca</servlet-name>
        <url-pattern>/CadastrarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarMarca</servlet-name>
        <url-pattern>/ListarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverMarca</servlet-name>
        <url-pattern>/RemoverMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMarca</servlet-name>
        <url-pattern>/AlterarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTipo</servlet-name>
        <url-pattern>/ListarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarTipo</servlet-name>
        <url-pattern>/CadastrarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarTipo</servlet-name>
        <url-pattern>/AlterarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverTipo</servlet-name>
        <url-pattern>/RemoverTipo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
